/* Master Template Styles  */

* {
   margin:0px;
   padding:0px;
}

ol,ul {
   padding-left:2em;
}

body {
   background-color:lightgrey;
   font-family:Arial, Helvetica, sans-serif;
   font-size:0.8em;
   font-style:normal;
   font-weight:normal;
}

#pagecontainer {
   border:1px solid green;
   width:930px;
   margin:0px auto;
   padding:0px 10px;
   background-color:white;
}

#pageheader {
   border:1px solid purple;
   height:130px;
   position:relative;
}

#pageheader img {
   position:absolute;
   top:30px;
   left:2px;
   z-index:0;
   border-width:0px;
}

#navbar {
   position:absolute;
   top:5px;
   left:5px;
   z-index:1;
   width:920px;
   padding-left:0em;
}

#navbar ul {
   padding-left:0em;
}

#navbar > li { 
   float:left;
   list-style-type:none;
   width:25%;
}

#navbar > li:hover {
   background-color:lightgrey;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
}

#navbar li ul {
   display:none;
   border-top:2px solid #69F;
}

#navbar > li:hover ul {
   display:block;
}

#navbar li ul li {
   list-style-type:none;
}

#navbar a {
   display:block;
   color:#69F;
   font-weight:bold;
   text-decoration:none;
   padding:5px 15px;
}

#navbar a:hover {
   color:#11F;
   background-color:grey;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
}

#pagefooter {
   border:1px solid purple;
   padding:10px 0px;
   clear:both;
}

/* Case Study Template Styles  */

#case-study-sidebar {
   border:0px solid red;
   float:left;
   width:290px;
   padding:10px 10px 10px 0px;
}

#case-study-sidebar hr {
   margin-bottom:10px;
}

#case-study-sidebar p {
   margin-bottom:10px;
}

#case-study-sidebar img {
   border-width:0px;
   width:180px;
}

#case-study-intro {
   border:0px solid green;
   float:right;
   width:625px;
   padding:10px 0px;
}

#case-study-intro img {
   float:left;
   width:200px;
   margin-right:10px;
}

#case-study-intro p {
   float:left;
   width:410px;
   text-align:justify;
   font-size:large;
}

#case-study-details {
   border:0px solid brown;
   float:right;
   width:625px;
}

#case-study-details h1 {
   font-size:medium;
   color:#69F;
}

#case-study-details hr {
   margin-bottom:5px;
}

#case-study-details p {
   margin-bottom:15px;
}

/* Module Template Styles  */

#module-titlebar {
   border:1px solid black;
}

#module-titlebar button {
   vertical-align:top;
   margin:5px 0px 0px 15px;
}

#module-intro {
   border:1px solid green;
   margin:10px 0px;
   text-align:justify;
   font-size:medium;
}

#module-at-a-glance {
   border:1px solid grey;
   float:left;
   width:450px;
   margin-right:20px;
}

#module-at-a-glance h3 {
   color:#69F;
}

#module-at-a-glance hr {
   margin-bottom:5px;
}

#module-at-a-glance p {
   margin-bottom:15px;
}

#module-in-the-field {
   border:1px solid blue;
   float:right;
   width:450px;
}

#module-in-the-field h3 {
   color:#69F;
}

#module-in-the-field hr {
   margin-bottom:5px;
}

/* Homepage Styles  */

#sidebar {
   float:left;
   width:250px;
   padding:5px 5px 5px 0px;
   border-right:2px solid lightgrey;
}

#contact {
   margin-bottom:10px;
   border:0px solid black;
}

#newsfeed {
   margin:10px 0px;
   border:0px solid blue;
}

#sponsors {
   border:0px solid orange;
}

#content {
   float:left;
   width:650px;
   margin:10px 0px 10px 15px;
   border:0px solid red;
}

a.rollover {
   display:block;
   width:140px;
   height:28px;
   margin:0px 0px 10px 0px;
   text-decoration:none;
   background:url("/images/launch_button.jpg");
}

a.rollover:hover {
   background-position:-140px 0px;
}
