---
layout: master
---
<h1>{{ page.title }}</h1>
<div id="case-study-sidebar">
  {% if page.case-study-image %}
  {{ page.case-study-image }}
  {% endif %}
  <h2>At a glance</h2>
  <hr />
  {% if page.primary-partner %}
  <p><strong>Primary Partner:</strong> {{ page.primary-partner }}</p>
  {% endif %}
  {% if page.primary-researchers %}
  <p><strong>Primary Researchers:</strong> {{ page.primary-researchers }}</p>
  {% endif %}
  {% if page.completed %}
  <p><strong>Completed:</strong> {{ page.completed }}</p>
  {% endif %}
  {% if page.models %}
  <p><strong>Models:</strong> {{ page.models }}</p>
  {% endif %}
  {% if page.maps %}
  <p><strong>Maps:</strong> {{ page.maps }}</p>
  {% endif %}
  {% if page.highlights %}
  <p><strong>Highlights:</strong> {{ page.highlights }}</p>
  {% endif %}
  {% if page.lessons-learned %}
  <p><strong>Lessons Learned:</strong> {{ page.lessons-learned }}</p>
  {% endif %}
  {% if page.partner-logo %}
  <div id="logos">
  {{ page.partner-logo }}
  </div>
  {% endif %}
</div>
<div id="case-study-details">
  {{ content }}
</div>
