<!DOCTYPE HTML>
<html>
  <head>
    <title>ARIES :: {{ page.title }}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{% if page.meta-keywords %}{{ page.meta-keywords }}{% else %}aries, artificial intelligence, ecosystem services, decision support, modelling, modeling{% endif %}" />
    <meta name="description" content="{% if page.meta-description %}{{ page.meta-description }}{% else %}ARIES :: ARtificial Intelligence for Ecosystem Services{% endif %}" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/master.css" />
    <!--[if lt IE 9]>
    <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="pagecontainer">
      <div id="pageheader">
        <ul id="navbar">
          <li><a href="/">About</a>
            <ul>
              <li><a href="/about/intro.html">Introduction</a></li>
              <li><a href="/about/approach.html">The ARIES approach</a></li>
              <li><a href="/about/applications.html">Applications of ARIES</a></li>
              <li><a href="/about/ariesteam.html">The ARIES team</a></li>
            </ul>
          </li>
          <li><a href="/modules.html">Modules</a>
            <ul>
              <li><a href="/modules/carbon.html">Carbon sequestration &amp; storage</a></li>
              <li><a href="/modules/flood.html">Flood regulation</a></li>
              <li><a href="/modules/coast.html">Coastal flood regulation</a></li>
              <li><a href="/modules/aesth.html">Aesthetic views &amp; proximity</a></li>
              <li><a href="/modules/water.html">Freshwater supply</a></li>
              <li><a href="/modules/soil.html">Sediment regulation</a></li>
              <li><a href="/modules/fish.html">Subsistence fisheries</a></li>
              <li><a href="/modules/rec.html">Recreation</a></li>
            </ul>
          </li>
          <li><a href="/case_studies.html">Case studies</a>
            <ul>
              <li><a href="/case_studies/westernwa.html">Western Washington</a></li>
              <li><a href="/case_studies/sanpedro.html">San Pedro River, AZ</a></li>
              <li><a href="/case_studies/madagascar.html">Madagascar</a></li>
              <li><a href="/case_studies/veracruz.html">Veracruz, Mexico</a></li>
              <li><a href="/case_studies/coyotehills.html">West Coyote Hills, CA</a></li>
              <li><a href="/case_studies/dominicanrep.html">Dominican Republic</a></li>
              <li><a href="/case_studies/vermont.html">Vermont</a></li>
            </ul>
          </li>
          <li><a href="/resources.html">Resources</a>
            <ul>
              <li><a href="/resources/toolkit.html">Toolkit</a></li>
              <li><a href="/resources/sitemap.html">Site map</a></li>
            </ul>
          </li>
        </ul>
        <a style="width:900px;height:58px;vertical-align:middle;text-align:center;background-color:#000;position:absolute;z-index:5555;top:50px;left:20px;background-image:url(http://americancensorship.org/images/stop-censorship-small.png);background-position:center center;background-repeat:no-repeat;" href="http://americancensorship.org"></a>
        <a href="/"><img src="/images/banner.gif" /></a>
      </div>
      {{content}}
      <div id="pagefooter">
        <p align="center">Copyright &copy; 2011 The ARIES Consortium. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>
