<!DOCTYPE HTML>
<html>
  <head>
    <title>ARIES :: {{ page.title }}</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="aries, artificial intelligence, ecosystem services, decision support, modelling, modeling" />
    <meta name="description" content="ARIES - ARtificial Intelligence for Ecosystem Services" />
    <link rel="stylesheet" type="text/css" href="stylesheets/master.css" />
  </head>
  <body>
    <div id="pagecontainer">
      <div id="header">
        <ul id="navbar">
          <li><a href="main.html">About</a>
            <ul>
              <li><a href="intro.html">Introduction</a></li>
	          <li><a href="approach.html">The ARIES approach</a></li>
              <li><a href="applications.html">Applications</a></li>
              <li><a href="ariesteam.html">The ARIES team</a></li>
            </ul>
          </li>
          <li><a href="modules.html">Modules</a>
            <ul>
              <li><a href="carbon.html">Carbon sequestration and storage</a></li>
	          <li><a href="flood.html">Flood regulation</a></li>
	          <li><a href="coast.html">Coastal flood regulation</a></li>
	          <li><a href="aesth.html">Aesthetic views and proximity</a></li>
              <li><a href="water.html">Freshwater supply</a></li>
              <li><a href="soil.html">Sediment regulation</a></li>
              <li><a href="fish.html">Subsistence fisheries</a></li>
	          <li><a href="rec.html">Recreation</a></li>
            </ul>
          </li>
          <li><a href="science.html">Case studies</a>
            <ul>
              <li><a href="westernwa.html">Western Washington</a></li>
	          <li><a href="sanpedro.html">San Pedro River, AZ</a></li>
	          <li><a href="madagascar.html">Madagascar</a></li>
              <li><a href="veracruz.html">Veracruz, Mexico</a></li>
	          <li><a href="science.html">More...</a></li>
            </ul>
          </li>
          <li><a href="toolkit.html">Resources</a>
            <ul>
              <li><a href="toolkit.html">Toolkit</a></li>
              <li><a href="sitemap.html">Site map</a></li>
              <li><a href="links.html">Links</a></li>
            </ul>
          </li>
        </ul>
        <a href="/"><img src="images/banner.gif" /></a>
      </div>
      <div id="pagebody">
        {{content}}
      </div>
      <div id="footer">
        <p align="center">Copyright &copy; 2011 The ARIES Consortium. All rights reserved.</p>
      </div>
    </div>
  </body>
</html>
