---
layout: master
---
<h1 id="module-titlebar">
  {{ page.title }}
  <button type="button" onclick="window.location='{{ page.module-specs-url }}'">Detailed module information</button>
</h1>
<p id="module-intro">{{ page.module-intro }}</p>
<div id="module-at-a-glance">
</div>
<div id="module-in-the-field">
  <h3>In the field</h3>
  <hr />
  <div style="height:180px; border:0px solid black">
    <h4 style="color:#6699FF;text-align:left">Madagascar</h4>
    <img src="images/lemur_160.gif" class="roundedImage" height="111" width="160" style="margin:0px 10px 30px 0px;float:left">
    <p style="text-align:left">
      ARIES is being used to help understand spatial patterns of
      carbon sequestration and storage in vegetation and soils.
      Accurate assessments of ecosystem carbon balance are a critical
      component for landowners interested in participation in emerging
      global carbon markets. In developing world contexts like
      Madagascar, carbon markets can potentially help finance
      conservation activities, if carefully planned.
    </p>
  </div>
  <div style="height:150px; border:0px solid black">
    <h4 style="color:#6699FF;text-align:left">Western Washington State</h4>
    <img src="images/SnoquamieForest.jpg" class="roundedImage" height="111" width="160" style="margin:0px 10px 10px 0px;float:left">
    <p style="text-align:left">
      ARIES is being used to help planners understand tradeoffs
      between carbon sequestration and storage and other ecosystem
      services, such as timber harvests, flood control, and water
      supply in the Pacific Northwest forests. Careful consideration
      of these tradeoffs will be important as climate change policies
      continue to evolve.
    </p>
  </div>
  <div style="height:160px; border:0px solid black">
    <h4 style="color:#6699FF;text-align:left">San Pedro River, Arizona and Sonora</h4>
    <img src="images/6cgsan-pedro-leaves26a.jpg" class="roundedImage" height="111" width="160" style="margin:0px 10px 30px 0px;float:left">
    <p style="text-align:left">
      Carbon sequestration and storage estimates are increasingly
      demanded by public and private land managers in the southwest
      and beyond.  ARIES' application to Southeast Arizona provided
      estimates of carbon sequestration and storage on public and
      private lands in this semiarid region. Photo credit:
      R.Weller/Cochise College.
    </p>
  </div>
  <div style="height:150px; border:0px solid black">
    <h4 style="color:#6699FF;text-align:left">West Coyote Hills, California</h4>
    <img src="images/CoyoteHillsCarbonUptake.jpg" class="roundedImage" height="111" width="160" style="margin:0px 10px 10px 0px;float:left">
    <p style="text-align:left">
      Carbon sequestration and storage were mapped for a key parcel of
      undeveloped land in southern California.  Given the state's
      leadership in carbon accounting, such assessments will become
      increasingly important in managing conservation and development
      tradeoffs.
    </p>
  </div>
  <div style="height:175px; border:0px solid black">
    <h4 style="color:#6699FF;text-align:left">Vermont</h4>
    <img src="images/vt_forest.jpg" class="roundedImage" height="111" width="160" style="margin:0px 10px 30px 0px;float:left">
    <p style="text-align:left">
      Vermont's low population density and high forest cover make the
      state a net sink for carbon emissions.  There is great interest
      among the state's agricultural and forestry communities in
      developing sustainable forestry and agricultural practices that
      increase carbon sequestration and storage and other ecosystem
      services.  Tools like ARIES can help map and quantify such
      ecosystem services tradeoffs.
    </p>
  </div>
</div>
<div style="height:850px;border:0px solid black">
  <h3 style="color:#69F">At a glance</h3>
  <hr style="margin-bottom:5px" />

# At a glance
--------------

**Carbon sequestration and storage** by terrestrial ecosystems is the
net removal of carbon dioxide (CO<sub>2</sub>) from the atmosphere,
with carbon being stored in vegetation or soils. CO<sub>2</sub> uptake
occurs through photosynthesis in all green plants. Terrestrial carbon
sequestration levels depend on factors including climate, vegetation
type, soils, and current and past land use practices.

**Stored carbon release** can occur when fire, land use change,
deforestation, or other vegetation and soil disturbances release the
carbon stored in vegetation and soils back to the atmosphere.  The
quantity of carbon released depends on the amount of carbon currently
stored in vegetation and soils and the type and extent of the
disturbance.

**Anthropogenic (human-caused) carbon emissions** result from the
burning of fossil fuels and the subsequent release of CO<sub>2</sub>
to the atmosphere.  Since greenhouse gas emitters benefit from the
waste absorption capacity of the biosphere, carbon sequestration and
storage can be divided among emitters.  Existing and proposed systems
to cap and assign property rights to atmospheric greenhouse gas
emissions use this framework.

**In other words:**

Carbon sequestration - Stored carbon release = Carbon emissions offset

**In summary**, by mapping levels of carbon sequestration, stored
carbon release, and anthropogenic emissions in a common unit (tonnes
C/yr), we can fully describe regional carbon balances - the level of a
region's net release or uptake of atmospheric CO<sub>2</sub>.  This
will become increasingly important as local, state, and national
governments continue to inventory greenhouse gas emissions and
implement strategies to address climate change.
